<launch>
  <node name="ros_stereo" pkg="orbslam3" type="ros_stereo" output="screen" args="$(find orbslam3)/Vocabulary/ORBvoc.txt $(find orbslam3)/Examples/Stereo/KITTI03.yaml false">

    <remap from="camera/right/image_raw" to="/kitti/camera_gray/right/image_rect" />
    <remap from="camera/left/image_raw" to="/kitti/camera_gray/left/image_rect" />
  </node>
</launch>