<launch>
  <node name="ros_stereo" pkg="orbslam3" type="ros_stereo" output="screen" args="$(find orbslam3)/Vocabulary/ORBvoc.txt $(find orbslam3)/Examples/Stereo-Inertial/husky_camera.yaml true">

    <remap from="camera/right/image_raw" to="camera_1/right/image_raw" />
    <remap from="camera/left/image_raw" to="camera_1/left/image_raw" />
  </node>
</launch>