<launch>
  <node name="ros_stereo" pkg="orbslam3" type="ros_stereo" output="screen" args="$(find orbslam3)/Vocabulary/ORBvoc.txt $(find orbslam3)/Examples/Stereo/zed2i_camera.yaml false">

    <remap from="camera/right/image_raw" to="/zed2i/zed_node/right_raw/image_raw_color" />
    <remap from="camera/left/image_raw" to="/zed2i/zed_node/left_raw/image_raw_color" />
  </node>
</launch>